[%# vim: ft=html -%]
      <p id="authors">
        [%- FOREACH a IN authors %]
        <span>
          [% a.given_name %] [% IF a.mi %][% a.mi _ '. ' %][% END %][% a.surname %]<sup>
          [%- FOREACH aff IN a.affiliations %]<a href="#fn-
          [%- IF aff == '*' -%]
            [%- SET stars = 1 -%]star
          [%- ELSE -%]
            [%- aff -%]
          [%- END %]">[% aff %]</a>[% IF not loop.last %], [% END %][% END %]</sup></span>[%- IF not loop.last %], [%- END %]
        [%- END %]
      </p>

      <p id="affiliations">
        [%- IF hashes -%]
        <a class="footnote" id="fn-star"><sup>#</sup><span>Contributed equally</span></a>
        [%- END %]
        [%- FOREACH a IN affiliations %]
        [%- NEXT IF a.id == '*' or a.id =='#' %]
        <a class="footnote" id="fn-[% a.id %]"><sup>[% a.id %]</sup><span>[% a.name %]</span></a>[% IF not loop.last %];[% END %]
        [%- END %]
        [%- IF stars %]
        [%#- FIXME: hard-coded "Co-corresponding authors" #%][% subject = 'Pathogenic Organism NCD web site' | uri %]
        <a class="footnote" id="fn-star"><sup>*</sup><span>Co-corresponding authors</span></a>:
        <a href="mailto:Leah.Kottyan@cchmc.org?subject=[% subject %]">Leah.Kottyan@cchmc.org</a>;
        <a href="mailto:Matthew.Weirauch@cchmc.org?subject=[% subject %]">Matthew.Weirauch@cchmc.org</a><br>
        [%- END %]
      </p>
