      <h3>Background</h3>
      <p>Many relationships between pathogens and human disease are
      well-established. However, only a small fraction involve diseases considered
      non-communicable (NCDs). In this study, we sought to leverage the vast amount
      of newly available electronic health record data to identify potentially
      novel pathogen-NCD associations and find additional evidence supporting known
      associations.

      <h3>Methods</h3>
      <p>We leverage data from The UK Biobank and TriNetX to perform a systematic
      survey across 20 pathogens and 426 diseases, primarily NCDs. To this end, we
      assess the association between disease status and infection history proxies
      using a logistic regression-based statistical approach.

      <h3>Results</h3>
      <p>Our approach identifies 206 pathogen-disease pairs that replicate in both
      cohorts. We replicate many established relationships, including
      <em>Helicobacter pylori</em>, with several gastroenterological diseases and
      connections between Epstein-Barr virus and both multiple sclerosis and lupus.
      Overall, our approach identifies evidence of association for 15 pathogens and
      96 distinct diseases, including a currently controversial link between human
      cytomegalovirus (CMV) and ulcerative colitis (UC). We validate the CMV-UC
      connection through two orthogonal analyses, revealing increased CMV gene
      expression in UC patients and enrichment for UC genetic risk signal near
      human genes that have altered expression upon CMV infection.

      <h3>Conclusions</h3>
      <p>Collectively, these results form a foundation for future investigations
      into mechanistic roles played by pathogens in the processes underlying NCDs.
      All results are easily accessible on this website.
