      <p id="authors">
        {% for a in pub.authors %}
        <span>
          {{ a.given_name }} {% if a.mi %}{{ a.mi }}. {% endif %}{{ a.surname }}<sup>
          {%- for aff in a.affiliations %}<a href="#fn-{%- if aff == '*' -%}{%- set stars = 1 -%}star
          {%- else -%}
            {{ aff }}
          {%- endif %}">{{ aff }}</a>{% if not loop.last %}, {% endif %}
          {%- endfor %}</sup>
        </span>{%- if not loop.last -%}, {%- endif %}
        {%- endfor %}
      </p>

      <p id="affiliations">
        {%- if hashes -%}
        <a class="footnote" id="fn-star"><sup>#</sup><span>Contributed equally</span></a>
        {%- endif %}
        {%- for a in pub.affiliations if not a.id in ['*', '#'] %}
        <a class="footnote" id="fn-{{ a.id }}"><sup>{{ a.id }}</sup><span>{{ a.name }}</span></a>{% if not loop.last %}; {% endif %}
        {%- endfor %}
        {%- if stars %}
        {% set subject = pub.emailsubject | urlencode %}
        {# FIXME: hard-coded "Co-corresponding authors" -#}
        <a class="footnote" id="fn-star"><sup>*</sup><span>Co-corresponding authors</span></a>:
        <a href="mailto:Leah.Kottyan@cchmc.org?subject={{ subject }}">Leah.Kottyan@cchmc.org</a>;
        <a href="mailto:Matthew.Weirauch@cchmc.org?subject={{ subject }}">Matthew.Weirauch@cchmc.org</a><br>
        {%- endif %}
      </p>
{#-
vim: ft=jinja
#}
