      <p id="authors">
        {% for a in pub.authors -%}
        <span>
          {{ a.given_name }} {% if a.mi %}{{ a.mi }}. {% endif %}{{ a.surname }}<sup>
          {%- for aff in a.affiliations %}<a href="#fn-{%- if aff == '*' -%}{%- set stars = 1 -%}star
          {%- else -%}
            {{ aff }}
          {%- endif %}">{{ aff }}</a>{% if not loop.last %}, {% endif %}
          {%- endfor %}</sup>
        </span>{%- if not loop.last -%}, {%- endif %}
        {%- endfor %}
      </p>

      <p id="affiliations">
        {%- if hashes -%}{# we don't have any of these for this publication; fix it next time #}
        <a class="footnote" id="fn-star"><sup>#</sup><span>Contributed equally</span></a>
        {%- endif %}
        {%- for a in pub.affiliations if not a.id in ['*', '#'] %}
        <a class="footnote" id="fn-{{ a.id }}"><sup>{{ a.id }}</sup><span>{{ a.name | e }}</span></a>{% if not loop.last %}; {% endif %}
        {%- endfor %}
        <a class="footnote" id="fn-star"><sup>*</sup><span>Co-corresponding authors</span></a>:
        {%- set subject = site.emailsubject | urlencode %}
        {%- for a in pub.authors if '*' in a.affiliations %}
        <a href="mailto:{{ a.email }}?subject={{ subject }}">{{ a.email }}</a>{% if not loop.last %};{% endif %}
        {%- endfor %}
      </p>
{#-
vim: ft=jinja
#}
