      <p>Pathogens can hide in our bodies for years after initial infection.
      For example, the chicken pox virus can cause shingles decades after
      infection. Likewise, certain pathogens may contribute to the development
      or severity of subsequent conditions that are not contagious, referred to
      as non-communicable diseases (NCDs). Our study analyzed a vast number of
      electronic medical records to discover potential pathogen-NCD
      connections. We identified 206 such links. Future research based on these
      findings could revolutionize healthcare by enabling the development of
      vaccines targeted against these pathogens. For example, approaches
      similar to the introduction of the human papillomavirus vaccine which has
      led to declining cervical cancer rates. The development of vaccines for
      the pathogens identified in this study could potentially enable dramatic
      reductions in the NCDs linked to these pathogens.
