[% FOREACH g IN generators -%]
  <meta name="generator" content="[% g %]">
[% END -%]
[% FOREACH a IN authors -%]
  <meta name="author" content="[% a.given_name %] [% IF a.mi %][% a.mi %]. [% END %][% a.surname %]">
[% END -%]
[% FOREACH c IN creators -%]
  <meta name="creator" content="[% c %]">
[% END -%]
  <meta name="keywords" content="[% keywords.join(",") %]">
