{% from  "_macros.html" import authorlist, top -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.meta.lab }} - {{ pub.title }}</title>
{% include "_partials/meta.html" %}

  <link rel="stylesheet" href="vendor/datatables.min.css" media="all">
  <link rel="stylesheet" href="theme/style.css" media="all">
</head>
<body>
{% if site.deployto != 'prod' -%}
  <div class="dev-banner">
    <p class="dev-info">
      Deploy target:
      <input size={{ site.deployto | length }} value="{{ site.deployto }}"
             onclick="javascript:this.setSelectionRange(0, this.value.length)">
      Git branch:
      <input size={{ gitinfo[0] | length }} value="{{ gitinfo[0] }}"
             onclick="javascript:this.setSelectionRange(0, this.value.length)">
      @ <input size={{ gitinfo[1] | length }} value="{{ gitinfo[1] }}"
               onclick="javascript:this.setSelectionRange(0, this.value.length)">
    </p>
  </div><!--/.dev-banner-->
{%- endif %}
  <div id="top" class="top">
    <div id="logos">
      <a href="{{ site.meta.labhome }}" title="Visit the {{ site.meta.lab }} home page">
        <img src="img/cchmc.png" alt="Children's Hospital logo">
      </a>
    </div>

    <div id="header">
      <h1 id="headline">{{ pub.headline }}</h1>
      <h3 id="tagline"><em>{{ pub.journal }}</em>&thinsp; {{ pub.issue }} ({{ pub.year }}). 
        <a href="{{ pub.url }} ">{{ pub.doi }}</a>
      </h3>
      
{% include "_partials/authors.html" %}

      <div class="actions actions-top">
        <div class="section-links">
          <a href="#abstract" title="View the paper's abstract">Abstract</a>
          |
          <a href="#overview" title="View a graphical overview of the study in flowchart form"
          >Study Overview</a>
          |
          <a id="search-link" href="#search"
             title="A searchable, tabular view of pathogen-disease associations"
          ><strong>Explore All Results</strong></a>
          |
          <a href="#how-to-cite" title="View citation information or contact the corresponding authors"
          >Cite or Give Feedback</a>
        </div><!-- /.section-links -->

        {%- set figuresandtables = data.artifacts.subdir ~ "/" ~ data.figures.outfilename %}
        {% set figuresfilesize = (site.deploydatadir ~ "/" ~ data.figures.outfilename) | filesize -%}
        <a href="{{ figuresandtables }}">
          <button title="Supplementary figures and tables from the {{ pub.journal }} {{ pub.year }} paper">
              Download Supplementary Figures &amp; Tables
              <small>from the {{ pub.journal }} {{ pub.year }} paper ({{ figuresfilesize }})</small>
          </button>
        </a>

        {%- set supplementzip = data.artifacts.subdir ~ "/" ~ data.artifacts.supplementarchive %}
        {% set supplementfilesize = (site.deploydatadir ~ "/" ~ data.artifacts.supplementarchive) | filesize -%}
        <a href="{{ supplementzip }}">
          <button type="button" title="Download supplementary datasets from the publication (as a .zip archive)">
            Download Supplementary Datasets
            <small>from the {{ pub.journal }} {{ pub.year }} paper ({{ supplementfilesize }})</small>
          </button>
        </a>

        <div class="underlinks">
          <p>
            <a href="{{ data.artifacts.subdir }}/SHA1SUMS"
               title="SHA1 checksums, for verifying download integrity"
            >Checksums</a>
            &nbsp;|&nbsp;
            <a href="data" title="View all available downloads">All downloads</a>
          </p>
        </div><!--/.underlinks-->
      </div><!--/.actions.actions-top-->
    </div><!--/#header-->

    <hr>

    <div id="summary">
      <h2>Plain Language Summary</h2>
{% include "_partials/summary.html" %}

      <hr>

      <h2 id="abstract">Abstract {{ top() }}</h2>
{% include "_partials/abstract.html" %}

      <h2 id="overview">Study Overview {{ top() }}</h2>
      <figure>
        <a href="img/figure_1.svg" title="View or download figure">
          <img alt="Study overview illustrated as a flowchart" src="img/figure_1.svg">
        </a>
        <figcaption>Overview of study design</figcaption>
      </figure>
    </div><!--/#summary-->

    <hr>

  </div><!--/#top-->

  <div id="search" class="top">
    <h2>
      Explore All Results {{ top() }}
    </h2>

    <div id="search-help-container">
      <div id="search-help" style="display:none">
{#
        <p>Click the "▶︎" symbol in order to reveal <em>all</em>
        fields for the associated record. Fields not shown are still
        searchable.
#}
        <p>Hover your mouse pointer over tabs and <strong>column names</strong>
        for a full description.

        <p>The search box performs "fuzzy" matching, and may match across
        multiple columns. To search for an exact phrase, put it in double
        quotes, <em>e.g.</em>, <code>"disorders of urinary system"</code>.
      
        <p>The <strong>Copy</strong> and <strong>Download CSV</strong> buttons
        will copy the current record set (<em>i.e.</em>, all records on all
        pages, or the results of the current search) to the system clipboard,
        or download it as comma-separated values. See
        <a class="ul-link" href="{{ data.artifacts.subdir }}">
          the <code>{{ data.artifacts.subdir }}</code> directory
        </a> for other formats.
{#
        <p>Cell values with dotted underlines styling are clickable, and will
        open in the relevant web site <strong>in the current window/tab</strong>.
        Hold down the <kbd>Ctrl</kbd> key on the keyboard (or <kbd>⌘</kbd> on
        a Mac) as you click to open these links in a new tab.
#}
      </div><!-- /.search-help -->

      <div id="search-help-toggle-cont" style="display:none">
        <p><a id="search-help-toggle" href="#">Search help</a></p>
      </div>
    </div><!-- /.search-help-container -->

    <div class="block">
      <noscript>
        <h2 class="center">Hello Non-JavaScript User</h2>
        <p>It seems you've disabled JavaScript in your browser, or blocked
        this site from executing it.
        <a href="https://www.gnu.org/philosophy/javascript-trap.html" title="The JavaScript Trap - gnu.org">That's prudent</a>!
        </p>

        <p>Because this is little more than a modest Apache
        <a href="https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html"><tt>mod_autoindex</tt></a>
        theme on top of an otherwise unadorned web-accessible directory on our
        web server, you should still have no problem downloading the relevant datasets
        hosted here. These may be found in the <a href="data"><code>data</code>
        subdirectory</a></p>

        <p>If however, you wish to interactively search through and filter the
        data dynamically, that will require re-enabling JavaScript for this
        page. That's what you <em>would've</em> seen here, in this space, had
        you visited this site with JavaScript enabled.</p>

        <p>Stay classy!</p>
      </noscript>
    </div><!--/.block-->
  </div><!-- /#search -->

  <div id="tabs-and-tables" class="wrapper">
    <div class="tabs">
{% for ds in data.datasources | sort(attribute="order") %}
      <div class="tab" title="{{ data.datasources[ds].tooltip}}"> 
        <input type="radio" id="tab-{{ data.datasources[ds].tabname | lower }}" 
               name="table-tabs" {% if loop.first %}checked{% endif %}
        >
        <label for="tab-{{ data.datasources[ds].tabname | lower }}"
               class="tablabel"
        >
          {{ data.datasources[ds].tabname }}
        </label>
      </div> <!-- /.tab -->
{% endfor %}
    </div> <!-- /.tabs --> 
    <div class="tab-separator"></div>

    <div id="table-viewer">
      <!-- loadTab replaces what is here -->
      <div class="loading">
        <p>Fetching and formatting data…</p>
        <p class="small">Nothing showing up here?
          <a class="ul-link"
             href="mailto:{{ site.adminemail }}?subject={{ site.emailsubject | urlencode }}%20is%20not%20loading%20the%20data%properly!"
          >Please let us know</a>.
        </p>
      </div>
{%- for ds in data.datasources | sort(attribute="order") %}
      <div id="table-{{ data.datasources[ds].tabname | lower }}" style="display:none;"></div>
{%- endfor %}
    </div> <!-- /#table-viewer -->

  </div> <!-- /.wrapper -->

  <div class="block" id="footer-md" data-markdown>
    <!-- content comes from 'footer.md', loaded by XMLHttpRequest -->
  </div>

{%- if site.creditinfooter %}
  <div class="block footer" id="credits">
    <h1>Credits</h1>
    <p>
      Theme based on <a href="https://web.archive.org/web/20180210190608/http://adamwhitcroft.com/apaxy/">Apaxy</a>
      by <a href="https://twitter.com/AdamWhitcroft">Adam Whitcroft</a>.
    </p>
  </div><!-- /#credits -->
{% endif -%}


  <div id="cite-and-feedback" class="wrapper">
    <h2 id="how-to-cite">How to Cite {{ top() }}</h2>
    <p>
    Please cite this resource as: {{ authorlist(3, etal=true) }}, 
      {{ pub.title }}. <em>{{ pub.journal }}</em>&thinsp; {{ pub.issue}} ({{ pub.year }}).
      <a href="{{ pub.url }}">{{ pub.url }}</a>
    </p>

    <h2 id="feedback">Feedback</h2>
    <p>
      Have feedback on how we can make this resource better?
      <a href="mailto:{{ pub.contacts | map(attribute='email') | join(',') }}?subject={{ site.emailsubject | urlencode }}">
        Let us know</a>.
    </p>
  </div><!--/#cite-and-feedback.wrapper-->

  <div class="actions actions-bottom wrapper">
    <button id="to-top-btn" onclick="location.href='#top'">
      <a href="#top">🢁 Back to Top 🢁</a>
    </button>
  </div> <!--/.actions-bottom-->

  <div id="footer" class="footer">
    <p>
      Problems?
      <a id="admin-contact" class="ul-link"
         href="mailto:{{ site.adminemail }}?subject=Problem%20with%20{{ site.emailsubject | urlencode }}"
      >Please let the site admin know</a>.
{# | <a class="ul-link" href="PUBSOURCEURL" title="Source code for web site">Source code</a> #}
    </p>
    <p>
      &copy;{{ date.currentyear }}
      <a href="https://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology">The Center for Autoimmune Genomics and Etiology</a>
      &bull; <a href="https://weirauchlab.org">Weirauch Research Lab</a>
      &bull; <a href="https://cincinnatichildrens.org">Cincinnati Children's Hospital Medical Center</a>
    </p>
  </div><!--/.footer-->
{#-
  <div id="apaxy-credit" class="footer" style="display:none">
    <a href="http://adamwhitcroft.com/apaxy/" title="Apaxy theme home page">
      Apaxy
    </a> theme by <a href="https://twitter.com/adamwhitcroft">@adamwhitcroft</a>
  </div><!--/.footer-->
-#}

  <script src="vendor/jquery.min.js"></script>
  <script src="vendor/js.cookie.js"></script>
  <script src="vendor/datatables.min.js"></script>
  <script src="js/index.js"></script>
  {% if site.deployto != 'prod' and site.livereload -%}
  <script src="vendor/live.js"></script>
  {%- endif %}
</body>
</html>
