<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.meta.lab }} - {{ pub.propername }}</title>
  <link rel="stylesheet" href="css/style.css" media="all">
  <meta name="application-name"
        content="PUBPROPERNAME">
  <meta name="description"
        content="PUBPROPERNAME">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" media="all">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" media="all">
</head>
<body>
  <div id="top" class="top">
    <div id="logos">
      <figure>
        <a href="{{ site.meta.labhome }}" title="Visit the {{ site.meta.lab }} home page">
          <img src="img/cchmc.png" alt="Children's Hospital logo">
        </a>
        <figcaption>{{ site.meta.labhome }}</figcaption>
      </figure>
    </div>

    <div id="header">
      <h1 id="headline">{{ pub.title }}</h1>
      <!--h3 id="tagline"></h3-->
      {% include "_partials/authors.html" %}

      <div class="actions actions-top">
        <!-- the 'onclick' is necessary to make the ENTIRE button clickable -->
        <button id="download-btn" onclick="location.href='DEPLOYDATADIR/PUBDBTARBALL'"
                title="Download database build PUBDBVER, released PUBDBRELEASEDATE (PUBDBTARBALLSIZE); gzipped Unix tar format, LF line endings">
          <a href="DEPLOYDATADIR/PUBDBTARBALL">
            <strong>Download Database Build PUBDBVER</strong>
            <small>Released PUBDBRELEASEDATE (PUBDBTARBALLSIZE)</small>
          </a>
        </button>

        <button type="button" title="Download supplemental tables from the publication (as a .zip archive)"
                onclick="location.href='DEPLOYDATADIR/vtrsurvey-supplement.zip'">
          <a href="DEPLOYDATADIR/vtrsurvey-supplement.zip">
            Download Supplemental Tables
            <small>Supplement from the PUBPUBLICATIONNAME (PUBYEAR) paper</small>
          </a>
        </button>

        <button id="search-btn" onclick="location.href='#search'">
          <a href="#search">Search Data</a>
        </button>
{#-
        <button id="feedback-btn" onclick="location.href='#feedback'">
          <a href="#feedback">Send Feedback</a>
        </button>
#}
        <div class="subtle-link" id="links-to-footer">
          <p>
            <a href="DEPLOYDATADIR/PUBDBZIP"
               title="Download database build PUBDBVER, released PUBDBRELEASEDATE (PUBDBZIPSIZE); ZIP format, CR+LF line endings"
            >Windows format</a>
            &nbsp;|&nbsp;
            <a href="DEPLOYDATADIR/MD5SUMS"
               title="MD5 checksums, for verifying download integrity"
            >Checksums</a>
            &nbsp;|&nbsp;
            <a href="DEPLOYDATADIR" title="View all available downloads">All downloads</a>
          </p>
        </div>
      </div><!--/.actions.actions-top-->
    </div><!--/#header-->


    <hr>

    <div id="abstract">
      <h2>Abstract</h2>
      <p>
        There are many well-established relationships between pathogens and
        human disease, but far fewer when focusing on non-communicable diseases
        (NCDs). We leverage data from The UK Biobank and TriNetX to perform a
        systematic survey across 20 pathogens and 426 diseases, focused
        primarily on NCDs. To this end, we assess association between disease
        status and infection history proxies. We identify 206 pathogen-disease
        pairs that replicated in both cohorts. We replicated established
        relationships to validate our method, including Helicobacter pylori with
        several gastroenterological diseases, and connections between
        Epstein-Barr virus with multiple sclerosis and lupus. Our approach
        identified evidence of association for 15 of the pathogens and 96
        distinct diseases, including a strong link between human cytomegalovirus
        (CMV) and ulcerative colitis (UC). We validate this connection through
        two orthogonal analyses, revealing increased CMV gene expression in UC
        patients and enrichment for UC genetic risk signal near human genes that
        have altered expression upon CMV infection. Collectively, these results
        form a foundation for future investigations into mechanistic roles
        played by pathogens in disease.
      </p>

      <h2 id="how-to-cite">How to cite</h2>
      <p>
        Please cite this article as: PUBAUTHORLASTNAME <em>et al.</em>, 
        PUBTITLE, PUBPUBLICATIONNAME (PUBYEAR),
        <a href="PUBURL">PUBURL</a>
      </p>

      <h2 id="feedback">Feedback</h2>
      <p>
        Have feedback on how we can make this resource better?
        <a href="mailto:tftoolsadmin@cchmc.org?subject=PUBEMAILSUBJECT">
          Let us know</a>.
      </p>
      <br>

m4_dnl <h2>Database release history</h2>
m4_dnl <p>
m4_dnl   The latest database build is
m4_dnl   <a title="Download database build PUBDBVER as .zip bundle (PUBDBZIPSIZE)" href="PUBDBZIP"><strong>PUBDBVER</strong></a>,
m4_dnl   released <strong>PUBDBRELEASEDATE</strong>.
m4_dnl   m4_ifelse(m4_len(PUBDBRELEASEHISTORY), `0', `', `A description of previous builds follows:')
m4_dnl  A description of previous builds follows:
m4_dnl </p>
m4_dnl
m4_dnl <!-- generated by 'git tag -n' -->
m4_dnl m4_ifelse(m4_len(PUBDBRELEASEHISTORY), `0', `', PUBDBRELEASEHISTORY)
m4_dnl
m4_dnl <p>
m4_dnl   The data searchable in the table below is also
m4_dnl   <a href="data">provided for download</a> in several different formats,
m4_dnl   including tab-delimited (suitable for import into a spreadsheet program
m4_dnl   like Excel or LibreOffice Calc) and SQLite.
m4_dnl  <!-- (confusing, having two links) --> The <a href="PUBDBZIP"><code>.zip</code> archive</a> simply
m4_dnl  contains all of them in one compressed bundle.
m4_dnl </p>
m4_dnl
m4_dnl <div class="actions">
m4_dnl   <button type="button"title="Download data in other formats such as tab-delimited, SQLite database" onclick="location.href='data'">
m4_dnl     <a href="data">Download Other Formats<small>Tab-delimited, SQLite database</small></a>
m4_dnl   </button>
m4_dnl </div><!--/.actions-->
m4_dnl
    </div><!--/#abstract-->

    <hr>

  </div><!--/#top-->

  <div id="search" class="top">
    <h1>
      Search all data
      <button title="Back to the top" id="search-to-top-btn"
              onclick="location.href='#top'">
        <a href="#top">&uparrow;</a>
      </button>
    </h1>

    <div id="search-help-container">
      <div id="search-help" style="display:none">
        <p>Click the "▶︎" symbol in order to reveal <em>all</em>
        fields for the associated record. Fields not shown are still
        searchable. To search for an exact phrase, put it in double quotes,
        <em>e.g.</em>, <code>"momp D"</code>; otherwise the search input is
        "fuzzy" and may match across multiple columns.</p>
   
        <p>Hover your mouse pointer over <strong>column names</strong> for a full
        description.</p>

        <p>
          Cell values with dotted underlines styling are clickable, and will
          open in the relevant web site <strong>in the current window/tab</strong>.
          Hold down the <kbd>Ctrl</kbd> key on the keyboard (or <kbd>⌘</kbd> on
          a Mac) as you click to open these links in a new tab.
        </p>
      </div><!-- /.search-help -->

      <div id="search-help-toggle-cont" style="display:none">
        <p><a id="search-help-toggle" href="#">Search help</a></p>
      </div>
    </div><!-- /.search-help-container -->

    <div class="block">
      <noscript>
        <h2 class="center">Hello Non-JavaScript User</h2>
        <p>It seems you've disabled JavaScript in your browser, or blocked
        this site from executing it.
        <a href="https://www.gnu.org/philosophy/javascript-trap.html" title="The JavaScript Trap - gnu.org">That's prudent</a>!
        </p>

        <p>Because this is little more than a modest Apache
        <a href="https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html"><tt>mod_autoindex</tt></a>
        theme on top of an otherwise unadorned web-accessible directory on our
        web server, you should still have no problem downloading the relevant datasets
        hosted here. These may be found in the <a href="data"><code>data</code>
        subdirectory</a></p>

        <p>If however, you wish to interactively search through and filter the
        data dynamically, that will require re-enabling JavaScript for this
        page. That's what you <em>would've</em> seen here, in this space, had
        you visited this site with JavaScript enabled.</p>

        <p>Stay classy!</p>
      </noscript>
    </div><!--/.block-->
  </div><!-- /#search -->

  <div id="table-viewer" class="wrapper">
    <!-- viraltfsurvey.html replaces what is here, loaded by XMLHttpRequest -->
    <div class="loading">
m4_dnl      <h2>Fetching data... please wait a few moments.</h2>
      <p>Fetching data... please wait a few moments.</p>
      <p class="small">Nothing showing up here? <a class="ul-link"
        href="mailto:tftoolsadmin@cchmc.org?subject=PUBEMAILSUBJECT%20is%20not%20loading%20the%20data%properly!">Please let us know</a>.
      </p>
    </div>
  </div>

  <div class="block" id="footer-md" data-markdown>
    <!-- content comes from 'footer.md', loaded by XMLHttpRequest -->
  </div>

  <div class="block footer" id="credits">
    <h1>Credits</h1>
    <p>
      Theme based on <a href="https://web.archive.org/web/20180210190608/http://adamwhitcroft.com/apaxy/">Apaxy</a>
      by <a href="https://twitter.com/AdamWhitcroft">Adam Whitcroft</a>.
    </p>
  </div><!-- /#credits -->

  <div class="actions actions-bottom">
    <button id="to-top-btn" onclick="location.href='#top'">
      <a href="#top">&uparrow; Back to Top &uparrow;</a>
    </button>
  </div>

  <div id="footer" class="footer">
    <p>
      Problems? <a id="admin-contact" class="ul-link"
         href="mailto:tftoolsadmin@cchmc.org?subject=PUBEMAILSUBJECT">Please let the site admin know</a>.
m4_dnl      | <a class="ul-link" href="PUBSOURCEURL" title="Source code for web site">Source code</a>
    </p>
    <p>
      &copy;PUBCOPYRIGHTYEAR 
      <a href="https://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology">The Center for Autoimmune Genomics and Etiology</a>
      &ndash; <a href="https://weirauchlab.org">Weirauch Research Lab</a>
      <br>
      <a href="https://cincinnatichildrens.org">Cincinnati Children's Hospital Medical Center</a>
    </p>
  </div>

  <div id="apaxy-credit" class="footer" style="display:none">
    <a href="http://adamwhitcroft.com/apaxy/" title="Apaxy theme home page">
      Apaxy
    </a> theme by <a href="https://twitter.com/adamwhitcroft">@adamwhitcroft</a>
  </div><!--/.footer-->

  {# FIXME: host locally #}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
  <script src="vendor/jscookie/js.cookie-2.2.1.min.js"></script>
  <script src="js/index.js">
</body>
</html>
