openpyxl
Jinja2

# tomllib is in Python 3.11; but for now…
tomli

# if needed to dump back to a .toml file…
#tomli-w

# probably not needed when `livereload = true` in site.toml
# https://github.com/samuelcolvin/watchfiles
#watchfiles

# if needed
#ipython
#visidata
